@mixin topPart {
    height: 25%;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
}

@mixin topBox {
    background-color: rgb(182, 44, 44);
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    height: 20px;
    width: 200px;
}

@mixin middleBox {
    border: solid 2px black;
    margin-right: 10px;
    margin-left: 10px;
    width: $width;
    height: $height;
    padding: 1%;
    margin-bottom: 30px;
}