#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2%;
  font-size: 30px;
}
#container div {
  border: solid 2px black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: orange;
}
#container .div1 {
  -webkit-animation-name: div1;
          animation-name: div1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#container .div2 {
  -webkit-animation-name: div2;
          animation-name: div2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#container .div3 {
  -webkit-animation-name: div3;
          animation-name: div3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#container .div4 {
  -webkit-animation-name: div4;
          animation-name: div4;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#container .div5 {
  -webkit-animation-name: div5;
          animation-name: div5;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#container .div6:hover {
  -webkit-animation-name: div6;
          animation-name: div6;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes div1 {
  from {
    background-color: orange;
  }
  to {
    background-color: red;
    width: 65px;
    height: 65px;
    line-height: 65px;
  }
}

@keyframes div1 {
  from {
    background-color: orange;
  }
  to {
    background-color: red;
    width: 65px;
    height: 65px;
    line-height: 65px;
  }
}
@-webkit-keyframes div2 {
  to {
    margin-top: 200px;
    transform: rotate(360deg);
  }
}
@keyframes div2 {
  to {
    margin-top: 200px;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes div3 {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }
  25% {
    transform: rotate(90deg);
    border-radius: 50%;
  }
  50% {
    transform: rotate(180deg);
    border-radius: 0%;
  }
  75% {
    transform: rotate(270deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
@keyframes div3 {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }
  25% {
    transform: rotate(90deg);
    border-radius: 50%;
  }
  50% {
    transform: rotate(180deg);
    border-radius: 0%;
  }
  75% {
    transform: rotate(270deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
@-webkit-keyframes div4 {
  50% {
    margin-top: -1%;
  }
  100% {
    margin-top: 0%;
  }
}
@keyframes div4 {
  50% {
    margin-top: -1%;
  }
  100% {
    margin-top: 0%;
  }
}
@-webkit-keyframes div5 {
  25% {
    margin-top: 200px;
    transform: rotate(0deg);
    background-color: orange;
  }
  50% {
    margin-top: 200px;
    transform: rotate(360deg);
    background-color: red;
  }
  75% {
    margin-top: 200px;
    transform: rotate(0deg);
    background-color: orange;
  }
}
@keyframes div5 {
  25% {
    margin-top: 200px;
    transform: rotate(0deg);
    background-color: orange;
  }
  50% {
    margin-top: 200px;
    transform: rotate(360deg);
    background-color: red;
  }
  75% {
    margin-top: 200px;
    transform: rotate(0deg);
    background-color: orange;
  }
}
@-webkit-keyframes div6 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes div6 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */