/* 
font-family: 'Noto Serif', serif;
font-family: 'Ubuntu', sans-serif;
 */

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 20px;
    
}

hr.aside {
    border: dotted;    
    border-bottom: none;
    width: 10px;
    color: rgb(82, 137, 182);
}

h1.name-top {
    font-size: 50px;
    text-shadow: 300px 120px #9cacfc;
    text-decoration: underline wavy rgba(27, 196, 111, 0.9);
}

#header {
    background-color: #FAF7F0;
    text-align: center;
    padding-top: 1px;
}

#aside {
    background-color: #CDFCF6;
    text-align: center;
    float: left;
    margin-top: 10px;
}

#main {
    background-color: #BCCEF8;
    text-align: center;
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;

}

 #footer {
    background-color: #9cacfc;
    text-align: center;

 }

.profile-pic {
    width: 100px;
}

 .italic-text {
    font-style: italic;
 }


 .entry-text {
    font-weight: bold;
 }

 .text-modified {
    text-decoration: underline overline;
    font-style: italic;
    font-weight: bold;
 }

 .intro-text {
    font-size: large;
    margin: auto 400px;
    text-transform: uppercase;
 }


/* A link */
 a {
    color: rgb(214, 43, 31);
    font-size: large;
    font-weight: 700;
}

a:visited {
    color: #999;
}

a:hover {
    color: #f93;
}

a:focus {
    color: #F0F;
}

a:active {
    color: aquamarine
}
/* A link */


/* Pseudo */
p:first-child {
    color: yellow;
}

p:nth-child(3) {
    color: rosybrown
}
/* Pseudo */



/* Unutar aside, unutar div, h3 mijenja font */
aside div h3 {
    font-family: 'Noto Serif', serif;
}


/* Unutar div, p se mijenja */
div>p {
    text-decoration: line-through solid rgb(255, 0, 179);
}


/* prvi p pored h3 se mijenja */
h3+p {
color: #F0F;
font-weight: bold;
}
